<%- include('includes/head.html'); %>

<%- include('includes/navbar.ejs'); %>

<div class="container">
  <div class="row"></div>
  <div class="justify-content-center">
    <h1 class="display-1 text-center">Erro!</h1>
    <p class="text-center lead">A página que você procura não existe, juro!</p>
  </div>
</div>

<%- include('includes/footer.html');%>