<%- include('includes/head.html'); %>

<%- include('includes/navbar.ejs'); %>

<div class="container">
  <%- include('includes/messages.ejs'); %>
  <div class="justify-content-center my-3">
    <h1 class="text-center">Contact Book</h1>
    <p class="text-center lead">See your contacts below:</p>
    <div class="responsive-table my-5">
      <table class="table">
        <tr>
          <td>kaue</td>
          <td>gatto</td>
          <td>(13)991093667</td>
          <td>kauegatto123@gmail.com</td>
        </tr>
      </table>
    </div>

  </div>
</div>

<%- include('includes/footer.html');%>