<%- include('includes/head.html'); %>

<%- include('includes/navbar.ejs'); %>

<div class="container">
  <div class="row"></div>
  <div class="justify-content-center my-3">
    <h1 class="text-center">Agenda</h1>
    <p class="text-center lead">Seus contatos abaixo:</p>

    <div class="row" style="display:none;">
      <div class="col">
        <div class="alert alert-danger text-center">eita deu erro</div>
      </div>
    </div>

    <div class="responsive-table my-5">
      <table class="table">
        <tr>
          <td>kaue</td>
          <td>gatto</td>
          <td>(13)991093667</td>
          <td>kauegatto123@gmail.com</td>
        </tr>
      </table>
    </div>

  </div>
</div>

<%- include('includes/footer.html');%>